.home-layout{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.home-layout img{
    width: 185px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.baseline{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 767px){
    .home-layout{
        align-items: center;
        background-color: #FAFAFA;
        min-height: 100vh;
        width: 100vw;
    }

    .home-layout img{
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: 0;
    }
}