*,
*::before,
*::after {
    box-sizing: border-box;
}

body , html{
    margin: 0;
    color: #333333;
    font-family: 'Instrument Sans', sans-serif;  
    height: 100%;
}

button:hover{
    cursor: pointer;
}

h3{
    font-size: 24px;
}

p{
    font-size: 16px;
    color: #737373;
}

label{
    font-size: 12px;
}

input{
    height: 48px;
    width: 311px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding-left: 1rem;
}

.bg-button{
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color: #633CFF;
    color: #FFFFFF;
    font-weight: 700;
    height: 46px;
    width: 311px;
}

.bg-inverted-button{
    border: 1px solid #633CFF;
    border-radius: 8px;
    background-color: #FFFFFF ;
    color: #633CFF;
    font-weight: 700;
    height: 46px;
    width: 311px;
}

.s-button{
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
    color: #633CFF;
}

.error{
    color: #FF3939;
    font-weight: 400;
}

form label{
    padding-top: 5rem;
}